html {
    min-height: 100%;
    min-width: 100%;
    -webkit-box-shadow: inset 0 0 45px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .5);
}
body {
    background-color: #721c24;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-container {
    min-height: 100%;
    min-width: 100%;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 300px 50%;
    display: grid;
}

.card {
    margin: auto;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.btn-danger{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: -5px;
}