<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketShop</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">RMBL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Booking Site", "Booking", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a href="#" tabindex="0" class="nav-link create-account-popover" role="button" data-toggle="popover" data-trigger="focus" title="Create Account">Create Account</a>
                </li>
                <li class="nav-item">
                    <a href="#" tabindex="0" class="nav-link log-in-popover" role="button" data-toggle="popover" data-trigger="focus" title="Log In">Log In</a>
                </li>
                <li>
                    <a class="navbar-brand">
                        <img src="~/images/pina-colada.svg" width="50" height="50" alt="PinaColada" class="d-inline-block align-top"/>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
    @RenderBody()
      </div> 

</body>
</html>
