@model TicketSystem.RestApiClient.Model.Login

@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm())
{

    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <h4>Input was wrong:</h4>
            @Html.ValidationSummary()
        </div>
    }

    <label>
        Username:
        @Html.EditorFor(m => m.Username)
    </label><br />

    <label>
        Password:
        @Html.EditorFor(m => m.Password)
    </label><br /><br />
        
    <input type="submit" value="Login" />
}
