@{
    ViewBag.Title = "Home Page";
}

<div class="card" style="width: 18rem;">
    
    <div class="card-body">
        <h5 class="card-title text-center">Would you be my valentine?</h5>
        <p class="card-text text-center"></p>
        <div class="row">
            <a href="#" class="btn btn-danger col">K Fine</a>
            <a href="#" class="btn btn-danger col">Eeeh no..?</a>
        </div>
    </div>
</div>