@model RMBL_FlightService.Models.DataBaseResp

@{
    ViewBag.Title = "SQL Test";
}

<div class="jumbotron">
    <h1 class="display-4">Test frases from DataBase</h1>
    <p class="lead"> <code>SELECT * FROM Test</code> </p>
    <hr class="my-4">
    <p>
        @{
            foreach (KeyValuePair<int, string> x in Model.Response)
            {
                <p>@x.Value</p>
            }
        }
    </p>
        <p class="lead">
            
        </p>
    </div>
