@using TicketShop.Models
@model IEnumerable<Ticket>

<div class="container">
    <div class="showTickets-container">
        <!-- List group -->
        <div class="list-group" id="myList" role="tablist">
        @{
            var counter = 1;
            foreach (var ticket in Model)
            {
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#flight-@counter" role="tab">@ticket.From - @ticket.Departure.Date</a>
                counter++;
            }
        }
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            @{
                var counter2 = 1;
                foreach(Ticket x in Model)
                {
                    <div class="tab-pane fade" id="flight-@counter2" role="tabpanel">
                        @Html.Partial("_Ticket", x)
                    </div>
                    counter2++;
                }
            }
        </div>

    </div>
</div>