@model TicketShop.Models.TicketVariables
@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="showTickets-container">

            <!-- List group -->
            <div class="list-group" id="myList" role="tablist">
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#home" role="tab">Flight 1</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Flight 2</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Flight 3</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Flight 4</a>
          </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active" id="home" role="tabpanel">
                  @Html.Partial("_Ticket")
                </div>
              <div class="tab-pane fade" id="profile" role="tabpanel">
                  @*@Html.Action("_Ticket", new { temp = new _Ticket { Abbriviation = "Lord", FirstName = "Z", LastName = "", From = "Venecia", To = "Dubai", SeatNum = 16, Departure = DateTime.Now, Arrival = DateTime.Today, Price = 10000 } })*@
                  @Html.Partial("_Ticket")
              </div>
              <div class="tab-pane fade" id="messages" role="tabpanel">
                  @*@Html.Action("_Ticket", new { abbr = Model.Abbriviation["Lord".ToString()], firstName = Model.FirstName("Z".ToString()), })*@
                  @Html.Partial("_Ticket")
              </div>
              <div class="tab-pane fade" id="settings" role="tabpanel">
                  @Html.Partial("_Ticket")
              </div>
          </div>

    </div>
</div>