@model TicketShop.Models.DataBaseRep
@{
    ViewData["Title"] = "Home Page";
}

  <div class="custom-container">
    <div class="booking-form">
      <div class="row">
        <div class="col">
          <div class="from"><span class="fa fa-plane"></span>
        </div>
          <select name="" id="" class="HomeCity form-control">
              @{ 
                  foreach(KeyValuePair<int, string> x in Model.Response)
                  {
                      <option value="@x.Value">@x.Value</option>

                  }
              }
        </select>
        </div>
        <div class="col">
          <div class="to"><span class="fa fa-plane"></span>
        </div>
          <select name="" id="" class="CityDest form-control">
              @{ 
                  foreach(KeyValuePair<int, string> x in Model.Response)
                  {
                      <option value="@x.Value">@x.Value</option>

                  }
              }
         </select>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <div class="dateGo"><span class="fas fa-calendar-alt"></span></div>
        </div>
        <div class="col" id="SecondCol">
          <div class="dateHome"><span class="fas fa-calendar-alt"></span></div>
        </div>
      </div>
      <br>
      <div class="row" id="LastForms">
        <div class="col">
          <select name="amountOfAdults" id="amountOfAdults" class="adult form-control">
                <option value="1">1 Adult</option>
                <option value="2">2 Adults</option>
                <option value="3">3 Adults</option>
                <option value="4">4 Adults</option>
                <option value="5">5 Adults</option>
                <option value="6">6 Adults</option>
                <option value="7">7 Adults</option>
                <option value="8">8 Adults</option>
                <option value="9">9 Adults</option>
            </select>
        </div>
        <div class="col">
          <select name="amountOfChildren" id="amountOfChildren" class="children form-control">
            <option value="0">0 Children</option>
            <option value="1">1 Child</option>
            <option value="2">2 Children</option>
            <option value="3">3 Children</option>
            <option value="4">4 Children</option>
          </select>
        </div>
        <div class="col">
          <select name="amountOfBabies" id="amountOfBabies" class="babies form-control">
            <option value="0">0 Infants</option>
            <option value="1">1 Infant</option>
            <option value="2">2 Infants</option>
         </select>
        </div>
      </div>

    </div>
    <div class="TitleC">
      <h1 class="display-1">
              R<span id="Middle-M">M</span>BL <br>
              <small class="text-muted">Luxury Flights</small>
          </h1>
    </div>
  </div>