@model Ticket
@{
    ViewData["Title"] = "Home Page";
}

  <div class="custom-container">
    <div class="booking-form">
      <div class="row">
        <div class="col">
          <div class="from"><span class="fa fa-plane"></span>
        </div>
          <select name="" id="" class="HomeCity form-control">
              
          </select>
        </div>
        <div class="col">
          <div class="to"><span class="fa fa-plane"></span>
        </div>
          <select name="" id="" class="CityDest form-control">
         </select>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <div class="dateGo">
              <input type="type" name="name" value="" /><span class="fas fa-calendar-alt"></span>
          </div>
        </div>
        <div class="col">
            @Html.ActionLink("Check flights!", "Booking", "Home", null, new { @class = "btn btn-primary" })
        </div>
      </div>
      <br>

    </div>
    <div class="TitleC">
      <h1 class="display-1">
              R<span id="Middle-M">M</span>BL <br>
              <small class="text-muted">Luxury Flights</small>
          </h1>
    </div>
  </div>