html {
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5)
}

body {
    background-image: url("../images/wallhaven-372450.jpg");
    background-repeat: no-repeat;
    background-position-y: -1215px;
    background-attachment: fixed
}

.custom-container {
    min-height: 100%;
    min-width: 100%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 5% 500px auto 500px 5%;
    grid-template-rows: 300px 300px auto
}

.TitleC {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    z-index: 300;
    text-align: center;
    font-family: initial !important;
    color: #fff
}

.text-muted {
    font-size: 55% !important;
    color: #fff !important;
    margin-left: -20px
}

#Middle-M {
    font-size: 130%
}

.booking-form {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    float: right;
    width: 500px;
    height: 300px;
    background-color: #eaeaea;
    padding: 10px;
    z-index: 12;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.32)
}

    .booking-form .from, .booking-form .to {
        display: block;
        width: 90px;
        height: 90px;
        background-color: #94b6ba;
        font-size: 60px;
        color: #fff
    }

        .booking-form .from span {
            transform: rotate(-20deg);
            padding-left: 10px;
            padding-right: -25px
        }

        .booking-form .to span {
            transform: rotate(20deg);
            padding-left: 10px;
            padding-right: -25px
        }

.HomeCity, .CityDest {
    width: 120px;
    float: right;
    margin-top: -60px
}

.dateGo, .dateHome {
    width: 220px;
    height: 80px;
    background-color: #6498a0;
    font-size: 60px;
    color: #fff
}

    .dateGo span, .dateHome span {
        position: relative;
        float: right;
        top: 5px;
        right: 10px
    }

@media screen and (max-width: 992px) {
    .booking-form {
        width: 95%;
        margin: 10px;
        margin-right: 15px
    }

    .from, .to {
        width: 100px !important;
        height: 100px !important
    }

        .from .from span, .to .from span {
            position: relative;
            bottom: 15px;
            font-size: 50px
        }

        .from .to span, .to .to span {
            position: relative;
            bottom: 15px;
            font-size: 50px
        }

    .dateGo, .dateHome {
        width: 300px
    }

    .HomeCity, .CityDest {
        width: 200px;
        height: 80px !important;
        margin-top: -90px
    }

    #SecondCol {
        padding-left: 65px
    }

    #LastForms .form-control {
        height: 80px !important
    }
}

@media screen and (max-width: 1200px) {
    .custom-container {
        grid-template-columns: auto 100px 500px 100px auto;
        grid-template-rows: 200px 100px 500px
    }

    .booking-form {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        width: 100%;
        height: 365px
    }

    .TitleC {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1
    }
}

@media screen and (max-width: 730px) {
    .custom-container {
        grid-template-columns: auto 50px 500px 50px auto
    }

    .booking-form {
        width: 95%;
        margin: 10px;
        margin-right: 15px
    }

    .from, .to {
        width: 100px !important;
        height: 100px !important
    }

        .from .from span, .to .from span {
            position: relative;
            bottom: 15px;
            font-size: 50px
        }

        .from .to span, .to .to span {
            position: relative;
            bottom: 15px;
            font-size: 50px
        }

    .dateGo, .dateHome {
        width: 230px
    }

    .HomeCity, .CityDest {
        width: 145px;
        height: 80px !important;
        margin-top: -90px
    }

    #SecondCol {
        padding-left: 65px
    }

    #LastForms .form-control {
        height: 80px !important
    }
}

/*# sourceMappingURL=style.css.map */
