@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+39|Lobster|Lora");

html {
    min-width: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("../images/wallhaven-372450.jpg");
    background-repeat: no-repeat;
    background-position-y: -1215px;
    background-attachment: fixed;
}


.container{
    margin-bottom: 125px!important;
}

.display-1{
    font-size: 5rem!important;
}

.custom-container {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 300px 300px;
    min-height: 100%;
    min-width: 100%;
    margin-top: 2%;
    display: grid;
}

.TitleC {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 300;
    text-align: center;
    font-family: initial !important;
    color: #fff;
}

.text-muted {
    font-size: 55% !important;
    color: #fff !important;
    margin-left: -20px;
}

#Middle-M {
    font-size: 130%;
}

.booking-form {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    float: right;
    max-width: 500px;
    /*background-color: #eaeaea;*/
    background-color: #eaeaeaba;
    margin: auto;
    padding: 10px;
    z-index: 12;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.32);
    border-radius: 3px;
}

.booking-form select{
    width: 125px;
}

.booking-form .from, .booking-form .to {
    display: block;
    width: 90px;
    height: 90px;
    font-size: 60px;
    color: #000;
}

.booking-form .from span {
    transform: rotate(-10deg);
    position: relative;
    bottom: 7px;
    left: 10px;
}

.booking-form .to span {
    transform: rotate(10deg);
    position: relative;
    left: 10px;
}

.HomeCity, .CityDest {
    width: 120px;
    float: right;
    margin-top: -70px;
}

.dateGo{
    width: 220px;
    height: 80px;
    padding: 10px;
}

.fa-calendar-alt{
    font-size: 60px;
}

.dateGo span{
    position: relative;
    float: right;
    right: 5px;
    top: -5px;
}

.dateGo input{
    display: initial;
    width: 65%;
    height: 60%;
    margin-top: 5%;
}

#CheckFlightButton{
    margin-top: 15px; 
}

/*************************/
/*LOG IN AND SIGN UP FORM*/
/*************************/

.LogIn input, .create-and-login input{
    width: 240px!important;
    margin-bottom: 1rem;
}

.CreateUser p, .LogIn p{
    margin-bottom: 0;
}

#SubmitButton{
    margin-top: 10px;
}

/******************************/
/*LOG IN AND SIGN UP FORM END*/
/****************************/

@media (min-width: 576px) {
    .container{
        margin-bottom: auto!important;
    }

    .display-1 {
        font-size: 6rem;
    }

    .custom-container {
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 300px 300px;
    }

    .booking-form {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .TitleC {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

@media screen and (min-width: 992px) {
    .booking-form {
        width: 95%;
    }

    .from .from span, .to .from span {
        position: relative;
        bottom: 15px;
        font-size: 50px;
    }

    .from .to span, .to .to span {
        position: relative;
        bottom: 15px;
        font-size: 50px;
    }

    .HomeCity, .CityDest {
        width: 100px;
        margin-top: -70px;
    }

    #SecondCol {
        padding-left: 65px;
    }

    #LastForms .form-control {
        height: 80px !important;
    }
}

@media screen and (max-width: 1199px) {
    .right-side {
        border-right: none;
    }

    .left-side {
        display: none;
    }

        .left-side img {
            width: 150px;
        }
}

@media screen and (min-width: 1200px) {
    .custom-container {
        grid-template-columns: 5% 500px 500px 5%;
        grid-template-rows: 300px 300px;
    }

    .booking-form {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .TitleC {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}