<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TicketSystem" connectionString="Server=tcp:rmbl.database.windows.net,1433;Initial Catalog=RMBL-SERVER;Persist Security Info=False;User ID=rmblA;Password=QAwsedrf123@@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>